@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(Lato.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}
#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
}

#time {
  font-size: 185px;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Lato", sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition-property: color, text-shadow;
  -webkit-transition-duration: 0.5s;
  transition-property: color, text-shadow;
  transition-duration: 0.5s;
  color: #222;
}

#time.dark {
  color: #ddd;
  text-shadow: 0 0 10px #222;
}

#time:before,
#time::before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}